/.mps/workspace.xml
.mps/libraries.xml

# Ignore Gradle project-specific cache directory
/.gradle

# Ignore Gradle build output directory
/build
/artifacts
/tmp

# Downloaded dependencies
/dependencies

# MacOS user UI setting related file
.DS_Store

# Intellij Idea user workspace setting files
**/.idea/workspace.xml
**/.mps/workspace.xml

# Local user commits
**/.idea/shelf
**/.mps/shelf

# Build artifacts
classes
classes_gen
testclasses
teamcity-info.xml
*.hprof
*.class
